analytics.xml
.history
.idea
.packages
.pub-cache
.pub
.dart_tool
build/
ios/.generated
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/app/src/main/java/io/flutter/plugins
pubspec.lock
!**/pubspec.lock
.vscode/
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json
*.log
*.mode1v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcworkspace
xcuserdata
doc/api/
ios/Pods
node_modules
melos.log

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
